<a href="https://colab.research.google.com/github/padmarani10/Colab1/blob/main/Untitled36.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
titanic_df=pd.read_csv('/content/titanic.csv')
print("loaded Dataset:")
print(titanic_df.head(10))

loaded Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [9]:
y = titanic_df['Survived']
X = titanic_df.drop('Survived', axis=1)
print("dependent variables:")
print(y.head(10))
print("Independent variables:")
print(X.head(10))

dependent variables:
0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64
Independent variables:
   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                             Heikkinen, Miss. Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry
5            6       3                                   Moran, Mr. James
6            7       1                            McCarthy, Mr. Timothy J
7            8       3                     Palsson, Master. Gosta Leonard
8            9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9           10       2                Nasser, Mrs. Nicholas (Adele Achem)

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S
5    male   NaN      0      0            330877   8.4583   NaN        Q
6    male  54.0      0      0             17463  51.8625   E46        S
7    male   2.0      3      1            349909  21.0750   NaN        S
8  female  27.0      0      2            347742  11.1333   NaN        S
9  female  14.0      1      0            237736  30.0708   NaN        C

In [10]:
missing_data=titanic_df.isnull().sum()
print(missing_data)
titanic_df_cleaned=titanic_df.dropna()
titanic_df_cleaned=titanic_df.fillna(titanic_df.ffill())
print("cleaned data")
print(titanic_df_cleaned)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

NameError: name 'mean' is not defined